@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    padding-top: 5%;
    background: #212529;
}
h1 {
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    color: #e9ecef;
    text-align: justify;
    text-justify: inter-word;
    position: absolute;
    margin: 0;
    padding: 0;
	  top: 10%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 55ch;
}
